@import url('https://fonts.googleapis.com/css2?family=Cagliostro&family=Poppins:ital,wght@0,400;0,800;1,800&display=swap');

@font-face {
    font-family: 'farmilia_-_personalregular';
    src: url('fonts/farmilia-personal-webfont.woff') format('woff2'),
         url('fonts/farmilia-personal-webfont.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --main-color: #49D056;
    --secondary-color: #8C271E;
    --tertiary-color: #F1F2F3;
    --fourth-color: #25662C;
    --lighter-red: red;
    --high-priority-color: #C0392B;
    --medium-priority-color: #D4A017;
    --low-priority-color: #2E7D4F;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

svg {
    cursor: pointer;
    width: 24px;
    height: 24px;
}

button {
    cursor: pointer;
    border: none;
    background-color: transparent;
}

/* Header */
.header {
    display: flex;
    gap: 1rem;
    padding: 8px;
    align-items: center;
    font-family: 'farmilia_-_personalregular', 'Courier New', Courier, monospace;
    background-color: var(--main-color);
    color: var(--secondary-color);
}

.header p {
    font-size: 2rem;
    text-decoration: underline;
    color: var(--tertiary-color);
}

.header img {
    width: 48px;
    height: 48px;
    justify-self: center;
    align-self: center;
}

.header h1 {
    display: flex;
    align-items: center;
    font-size: 48px;
    padding: 4px;
    letter-spacing: 4px;
}

.header::selection {
    background-color: var(--secondary-color);
    color: var(--tertiary-color);
}

/* Navbar */
.main {
    display: grid;
    grid-template-columns: minmax(150px, 1fr) 4fr;
    height: clamp(600px, 100vh, 1920px);
}

.main nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 36px 1fr;
    gap: 4px;
    background-color: var(--secondary-color);
    color: #49D056;
    padding: 8px 8px 8px 2px;
}

.main nav h1 {
    font-family: 'farmilia_-_personalregular', 'Courier New', Courier, monospace;
    align-self: center;
    font-size: 36px;
}

.main nav button {
    width: 24px;
    height: 24px;
    align-self: center;
    justify-self: end;
    border: none;
}

nav svg {
    fill: var(--main-color);
}

nav svg:hover {
    fill: var(--fourth-color);
}

.main nav ul {
    font-family: 'Courier New', Courier, monospace;
    grid-area: 2 / 1 / -1 / -1;
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(36px, 1fr));
}

.main nav li {
    padding: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

nav::selection {
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
}

.main nav li:hover,
.selected {
    background-color: var(--main-color);
    color: var(--secondary-color);
    font-weight: 900;
}

/* Todo */

.todos svg {
    fill: var(--secondary-color);
}

.todos svg:hover,
dialog svg:hover {
    fill: var(--lighter-red);
}

.todos > .todo-wrapper {
    display: grid;
    grid-template-rows: repeat(auto-fill, 1fr);
    row-gap: 8px;
    padding: 8px;
    color: var(--secondary-color);
}

.todo-wrapper .todo {
    border: 4px solid var(--secondary-color);
    padding: 1rem;
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 24px;
    gap: 4px;
}

.todo > h1 {
    font-family: "Cagliostro", sans-serif;
    font-size: 36px;
    font-weight: 100;
    align-self: center;
}

.todo > .due-date {
    font-family: 'farmilia_-_personalregular', 'Courier New', Courier, monospace;
    align-self: center;
    justify-self: end;
    font-size: 32px;
}

.todo .buttons {
    grid-column: 1 / -1;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, 48px);

}

.todo .buttons > * {
    width: 24px;
    height: 24px;
}

.todo-wrapper .todo.expand {
    grid-template-rows: repeat(3, 1fr) 24px;
}

.todo.expand > .description {
    font-family: "Cagliostro", sans-serif;
    grid-row: 2 / 2;
    grid-column: 1 / -1;
    letter-spacing: 1px;
    word-break: break-all;
    align-self: center;
    justify-self: center;
    text-align: center;
    font-size: 1.2rem;
    width: 60ch;
}

.todo.expand > .checklist {
    grid-row: 3 / 3;
    grid-column: 1 / -1;
}

.todo.expand > .checklist h1 {
    font-size: 16px;
    font-family: "Cagliostro", sans-serif;
}

.todo.expand > .checklist {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.todo.expand section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 8px;
}

.todo.expand section .checklist-item-wrapper {
    display: flex;
    align-items: center;
    gap: 3px;
    font-family: "Cagliostro", sans-serif;
}

.todo.expand .buttons {
    grid-row: -2 / -1;
}

/* Priority Indicator Style */
.todo.low {
    border-color: var(--low-priority-color);
}

.todo.medium {
    border-color: var(--medium-priority-color);
}

.todo.high {
    border-color: var(--high-priority-color);
}

/* Todo Header */
.todo-header {
    display: flex;
    justify-content: space-between;
    padding: 12px;
    font-family: 'farmilia_-_personalregular', 'Courier New', Courier, monospace;
    color: var(--secondary-color);
    align-items: center;
}

.todo-header button {
    background-color: transparent;
    border: none;
}

dialog {
    align-self: center;
    justify-self: center;
    padding: 20px;
    background-color: var(--main-color);
    color: var(--secondary-color);
    font-family: "Cagliostro", sans-serif;
}

dialog::backdrop {
    background-color: #8C271E1A;
}

dialog h1 {
    font-family: 'farmilia_-_personalregular', 'Courier New', Courier, monospace;
}

#create-project-modal {
    width: 280px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#create-project-modal div:nth-child(2) {
    display: flex;
    font-family: "Cagliostro", sans-serif;
    flex-direction: column;
    gap: 2px;
}

dialog input,
dialog textarea {
    font-family: "Cagliostro", sans-serif;
    font-size: 16px;
    padding: 2px;
    border-radius: 6px;
    color: var(--tertiary-color);
    background-color: var(--secondary-color);
}

input:focus {
    outline: 1px solid var(--secondary-color);
}

dialog button {
    width: 16px;
    height: 16px;
}

#create-project-modal div:nth-child(3) {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
}

dialog svg {
    fill: var(--secondary-color);
}

.edit-todo-dialog, #add-todo-modal {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 400px;
    gap: 5px;
}

.title-wrapper,
.desc-wrapper,
.date-wrapper {
    display: flex;
    flex-direction: column;
}

fieldset {
    padding: 8px;
}

.btn-wrapper {
    display: flex;
    justify-content: flex-end;
}

.edit-todo-dialog .btn-wrapper button,
.edit-todo-dialog .btn-wrapper svg,
#add-todo-modal .btn-wrapper button,
#add-todo-modal .btn-wrapper svg,
.delete-modal .btn-wrapper button,
.delete-modal .btn-wrapper svg {
    height: 24px;
    width: 24px;
}

dialog .checkfield-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.checkfield-wrapper label {
    grid-column: 1 / -1;
}

.edit-todo-dialog svg,
#add-todo-modal svg {
    width: 16px;
    height: 16px;
    fill: var(--secondary-color);
}

.checklist-wrapper .checklist-items,
.existing-checklist {
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style: none;
    padding: 8px;
}

.existing-checklist-item, .checklist-item {
    display: flex;
    align-items: center;
    gap: 8px;
}

.delete-modal {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.main > p {
    align-self: center;
    justify-self: center;
    padding: 20px;
    font-size: 3rem;
    font-family: 'farmilia_-_personalregular', 'Courier New', Courier, monospace;
    color: var(--secondary-color);
}

dialog::selection {
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
}

.main::selection {
    background-color: var(--secondary-color);
    color: var(--tertiary-color);
}

.hide {
    display: none;
}
